$primary-color: #202c45;
$secondary-color: #ffffff;
$bg-focus: #a51212;
$bg-correct: #2bcc38;
$bg-incorrect: #dd2d2d;
$bg-selected: #646464;

$primary-font-color: #ffffff;
$secondary-font-color: #000000;

$btn-bg-link: #1e469c;
$btn-bg-link-hover: #18377a;
$btn-bg-edit: #af7916;
$btn-bg-edit-hover: #865e13;
$btn-bg-add: #12a51e;
$btn-bg-add-hover: #12851b;
$btn-bg-delete: #a51212;
$btn-bg-delete-hover: #810e0e;
$btn-bg-disabled: #646464;